/* ヘッダー全体 */
.header {
    width: 100%;
    padding: 0px 40px;
    background-color: #010000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
    /* ヘッダー自体もflex化 */
    display: flex;
    align-items: center;
}

/* 内部コンテナ：左右に分ける */
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* 左端（ロゴ）と右端（ナビ）に分ける */
    align-items: center ;
    height: 50px;
}

/* ロゴ部分 */
.logo {
    height: 30px;
    display: block;
    margin: 0;
}

/* ナビゲーション部分 */
.nav {
    display: flex;
    align-items: center;
}

/* リストの設定 */
.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    white-space: nowrap;
    /* 改行を防止 */
}

.nav li {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.logout-item form {
    display: inline-flex;
    align-items: center;
    margin: 0;
    /* デフォルト余白をリセット */
}

/* ログアウトボタン */
.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.logout-button:hover {
    text-decoration: underline;
}