body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.content {
    padding-top: 90px;
    /* ヘッダー固定により、隠れないよう余白確保 */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

